html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  background-color: #212121;
  margin: 0px;
  padding: 0px;
  line-height: 1.2;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}
